.category-filter{
    padding:80px 8% 40px;
    text-align:center;
}

.category-filter h2{
    font-size:38px;
    color:#222;
    margin-bottom:35px;
}

.category-buttons{
    display:flex;
    justify-content:center;
    gap:18px;
    flex-wrap:wrap;
}

.category-buttons button{

    background:white;

    border:1px solid #ddd;

    padding:14px 30px;

    border-radius:35px;

    font-size:15px;

    transition:.3s;

    cursor:pointer;

}

.category-buttons button:hover{

    background:#8B6B43;

    color:white;

    border-color:#8B6B43;

}