.navbar{
    position:sticky;
    top:0;
    z-index:1000;
    background:#fff;
    box-shadow:0 3px 15px rgba(0,0,0,.05);
}

.container{
    max-width:1300px;
    margin:auto;
    padding:18px 8%;

    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo{
    font-size:30px;
    font-weight:700;
    color:#8B6B43;
}

.nav-links{
    display:flex;
    gap:35px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:#222;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#8B6B43;
}

.search-box{
    display:flex;
    align-items:center;
    gap:12px;

    background:#f5f5f5;
    border-radius:40px;

    padding:8px 10px 8px 18px;
}

.search-box input{
    border:none;
    outline:none;
    background:transparent;
    width:170px;
    font-size:15px;
}

.search-icon{
    color:#8B6B43;
    font-size:16px;
}

.search-btn{
    background:#8B6B43;
    color:#fff;
    border:none;
    padding:10px 22px;
    border-radius:30px;
    font-size:15px;
    font-weight:500;
    cursor:pointer;
    transition:0.3s ease;
}

.search-btn:hover{
    background:#6E5435;
    transform:translateY(-2px);
}

.menu-icon{
    display:none;
    font-size:28px;
    cursor:pointer;
}



/* Tablet */

@media(max-width:992px){

.search-box{
    display:none;
}

}

/* Mobile */
@media (max-width:768px){

    .menu-icon{
        display:block;
        z-index:1001;
    }

    .search-box{
        display:none;
    }

    .nav-links{

        position:fixed;

        top:75px;
        left:-100%;

        width:100%;
        height:calc(100vh - 75px);

        background:#fff;

        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;

        padding-top:40px;
        gap:30px;

        transition:left .35s ease;

        z-index:999;
    }

    .nav-links.active{
        left:0;
    }

    .nav-links li{
        width:100%;
    }

    .nav-links a{
        display:block;
        padding:15px;
        font-size:20px;
    }

}